<mat-toolbar color="primary" class="app-toolbar">
  <span class="logo">MovieTicketing_Haroon</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a mat-button routerLink="/cart" routerLinkActive="active-link">Cart</a>
  <a mat-button routerLink="/account" routerLinkActive="active-link">Account</a>
  <a mat-button routerLink="/admin/movies" routerLinkActive="active-link">Admin</a>
</mat-toolbar>
