@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette, 600, 500, 300);
$accent: mat.define-palette(mat.$pink-palette, 600, 400, 800);
$theme: mat.define-light-theme($primary, $accent);

@include mat.core();
@include mat.all-component-themes($theme);

body {
	margin: 0;
	font-family: 'Inter', 'Segoe UI', system-ui, sans-serif;
	background: #f4f6f8;
}
